# Server
PORT=your_port_number
DB_URL=mongodb://localhost:27017/your-db-name
NODE_ENV=development_or_productiion

# JWT Configuration
JWT_ACCESS_SECRET=your_access_secret_here
JWT_ACCESS_EXPIRES=1d
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES=7d

# Bcrypt Configuration
BCRYPT_SALT_ROUND=number_of_times

# Super Admin Credentials
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=super_admin_password

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# Express Session
EXPRESS_SESSION_SECRET=randomSessionSecret123

# Frontend URL
FRONTEND_URL=http://localhost:3000
